@import "tailwindcss";

* {
  box-sizing: border-box;
}

/* Design tokens (fonts) */
:root {
  --font-display: "Markazi Text", serif;
  --font-body: "Karla", sans-serif;
}

/* Base typography */
body {
  font-family: var(--font-body);
}

h1,
h2,
h3 {
  font-family: var(--font-display);
}